<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header.ejs', {title: "Home page"}) %>
    <body>
        <link rel="stylesheet" href="/css/home.css" />
        <%- include("partials/nav.ejs") %>
        <div class="container mt-4">
            <% if (user) { %>
            <h1 class="display-6">
                Welcome back to Home,
                <a href="/profile/<%=user.username%>" style="text-decoration: none"
                    ><%= user.username %></a
                >
            </h1>
            <% } else { %>
            <h1 class="display-6">Home</h1>
            <% } %>
            <ul class="user-list">
                <% users.forEach(function(user) { %>
                <li class="list-group-item d-flex align-items-center user">
                    <img
                        src="<%= user.imgUrl %>"
                        alt=""
                        width="50"
                        height="50"
                        class="rounded-circle me-3 profile-picture"
                    />
                    <div class="flex-fill pl-3 pr-3">
                        <div>
                            <a
                                href="<%= `/profile/${user.username}` %>"
                                class="text-dark font-weight-600"
                                ><%= user.username %></a
                            >
                        </div>
                        <div class="text-muted fs-13px"><%= user.bio %></div>
                    </div>
                </li>
                <% }); %>
            </ul>
            <div class="text-center">
                <button type="submit" class="btn btn-outline-primary" id="loadUsers">
                    Load More
                </button>
            </div>
        </div>
        <script src="/js/loadUsers.js"></script>
    </body>
</html>
